
h1 {
    text-align: center;
  }
  
form {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: center;
  }

input {
    width: 20%;
    margin-bottom: 20px;
  }
  
.meme {
    position: relative;
    display: center;
    margin: 20px;
    width: 450px
  }

.meme img {
  width: 450px;
  height: auto;
  }

.meme .top-text {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
   font-size: 30px;
   font-family: Impact, sans-serif;
   color:  rgba(255, 255, 0, 0.751);
    text-shadow: 2px 2px 2px black;
    margin: -450px
}

.meme .bottom-text {
      position: absolute;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 30px;
      font-family: Impact, sans-serif;
      color:  rgba(255, 255, 0, 0.751);
      text-shadow: 2px 2px 2px black;
      margin: -50px;
}